body{
	overflow-y: scroll !important;
}

@media (min-width: 768px){
	.navbar {
    	border-radius: 0;
	}
}

.panel-heading{
	padding-bottom: 0px;
}
ul{
	margin-left: 0;
	padding-left: 0;
}
ul li{
	list-style: none;
}